body {
  color: #333;
  font-size: 16px;
  font-family: cursive;
}

main {
  background: url(../../assets/img/bg.png) repeat;
}

h1 {
  font-weight: bold !important;
}
.fa {
  font-size: 12rem;
  color: #fca700;
  padding-right: 20px;
}

.under-construction {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}