:root {
  --font-color: #111;
  --bg-primary: #7843E9;
  --bg-primary: #7843E9;
  --bg-gray: #666;
}

.bg-gray {
  background-color: var(--bg-gray);
}
.btn {
  border: none !important;
}

.btn-primary,
.bg-primary {
  background-color: var(--bg-primary) !important;
}

.navbar-brand,
.nav-link {
  color: var(--font-color) !important;
}

.navbar-nav .nav-link.active {
  color: var(--bg-primary) !important;
}

.navbar {
  padding: 1rem 0;
}

.navbar-nav .nav-link {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  font-weight: 700;
  text-transform: uppercase;
}

a:hover {
  color: var(--bs-primary) !important;
}

.home-intro {
  background-image: url('../img/common-bg.svg');
  height: 100vh;
  position: relative;
}

.heading-btn {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.home-intro .home-intro-main .heading {
  font-size: 4rem;
  font-weight: 800;
}

.home-intro .home-intro-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.ls-3 {
  letter-spacing: 1px;
}

.home-intro-instruction {
  font-size: 1.2rem;
}