:root {
  --font-color: #111;
  --bg-primary: #7843E9;
  --bg-primary: #7843E9;
  --bg-gray: #666;
}

body {
  font-size: 1.2rem !important;
  letter-spacing: 1px !important;
}

.bg-gray {
  background-color: var(--bg-gray);
}

.btn {
  border: none !important;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
}

.btn-primary,
.bg-primary {
  background-color: var(--bg-primary) !important;
}

.navbar-brand,
.nav-link {
  color: var(--font-color) !important;
}

.navbar-nav .nav-link.active,
.link {
  color: var(--bg-primary) !important;
}

.navbar {
  padding: 1rem 0;
}

.navbar-nav .nav-link {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--bg-primary) !important;
}

.home-bg {
  height: 100vh;
  position: relative;
}

.common-bg {
  background-image: url('../img/common-bg.svg');
}

.home-intro-main .heading {
  font-size: 3rem;
  font-weight: 800;
}

.home-intro-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects {
  background-color: #fbfbfb;
}

.fc-width {
  width: fit-content;
}

.form-div {
  padding: 2rem;
  border-radius: 4px;
  background-color: #fff;
}

footer {
  background-color: black;
  color: #fff;
}
.copyright {
  font-size: 0.75rem;
}